/* estilo general */
:root {
    --purple_light: #8D79A7;
    --purple_dark: #7A5AA2;
    --grey_dark: #2A2A2B;
    --background_header: #21252b;
    --background_login: #aa996d;
    --backgroud_body: #282c34;
    --color_string: white;
    --color_button_hover: #343541;
    --color_button_submit: #d9d9d9;
    --color_element_select: #8d8d8d;
};
html {
    margin: 0px;
}
body {
    background-color: var(--backgroud_body); 
  }
/*  etiquetas inactive, al ejecutar el evento de click en sus 
 respectivos button, mutan a menu_signIn menu_login */

 
.inactive_menuSignIn {
    display: none;
}
.inactive_menuLogin {
    display: none;
}

  
/* header */
header {
    height: auto;
    width: 100%;
}

.container_headerMain {
    height: 104px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--background_header);
    color: var(--color_string);
}

.container_logo {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    place-content: center;
}

.logo_main {
    height: 60px;
    width: 100px;
}

.container_title_header {
    margin-left: 120px
}
.container_button_login_createAccount {
    height: 100%;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: end;

}
.container_button_login_createAccount button {
    margin: 0px 10px 5px 0px;
}

/* inactive_menuLogin muta a menu_login */
.menu_login{
    height: auto;
    width: 230px;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 112px;
    right: 130px;
}
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}
.login > * {
    margin: 5px;
}
.button_login:hover, .button_signIn:hover {
    cursor: pointer;
    background-color: var(--color_button_hover);
    color: white;
}
.buttonSubmitLogin:hover, .buttonSubmitSignIn:hover {
    cursor: pointer;
    background-color: var(--color_button_submit);
    
    
}
/* inactive_menuSignIn muta a menu_signIn */
.menu_signIn {
    height: auto;
    width: 230px;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 112px;
    right: 130px;
}
.createAccount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}
.createAccount > * {
    margin: 5px;
}

.inactive {
    display: none;
}

/* nav */
nav {
    height: auto;
    width: 100%;
    color: var(--color_string)
}

.list_main {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.list_main li button{
    border: none;
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    background-color: transparent;
    color: var(--color_string);
}

.list_main li button:hover {
    cursor: pointer;
    color: var(--color_element_select);
}

/* section - article */
article {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
    color: var(--color_string);
}
.article_phrase {
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
    margin: 30px;
}
.textarea_post {
    height: 400px;
    width: 470px;
}

.buttonSave{
margin: 0px 0px 0px 10px;
}

.buttonSave:hover, .buttonPublish:hover {
    background-color: var(--color_button_submit);
    cursor: pointer;
}

/* left aside */
.book_catalog {
    height: 445px;
    width: 448px;
    display: grid;
    grid-template: repeat(auto, 200px)/repeat(2,auto);
    position: absolute;
    top: 256px;
    left: 2px;
    border: 1px solid white;
    background-color: var(--background_header);
    overflow-y: scroll;
}

.container_titleCatalog {
    display: flex;
    place-content: center;
    grid-column: 1/3;
    grid-row: 1/2;
    margin: 8px;
}
.title_bookCatalog {
    margin: 0px;
    color: var(--color_string);
}

.book_card {
    height: 100%;
    width: 224px;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    
}
.book_img {
    height: 130px;
    width: 130px;
    place-self: center;
    margin-top: 15px;
    
}
.book_info {
    display: flex;
    flex-direction: column;
}
.book_title {
    color: var(--color_string);
    margin: 12px 0px 6px 0px;
    place-self: center;
}
 .book_figure {
    width: 100%;
    height: 70px;
    margin: 0px;
    display: flex;
    justify-content: center;
} 
.figure_button {
    height: 35px;
    width: 35px;
    padding: 0px;
    background: none;
    color: var(--color_string);
    border: none;
    cursor: pointer;
}
.figure_button:hover {
    color: var(--color_element_select);
}
.book_icon {
    height: 35px;
    width: 35px;
}


@media(max-width: 640px) {

    /* header */
    .container_headerMain div h1 {
        font-size: medium;
    }
    .logo_main {
        height: 100px;
        width: 100px;
    }

    .menu_signIn {
        height: auto;
        width: 180px;
        top: 112px;
        right: 0px;
    }

    .createAccount {
        font-size: small;
    }
    .createAccount > * {
        margin: 2px;
    }

    .menu_login{
        height: auto;
        width: 180px;
        top: 112px;
        right: 0px;
    }

    .login {
        font-size: small;
    }
    .login > * {
        margin: 2px;
    }

    .container_button_login_createAccount {
        height: 100%;
        width: 130px;
    }
    .container_button_login_createAccount button {
        margin: 0px 5px 3px 0px;
    }

   .button_login {
        height: 20px;
        width: auto;
        padding: 2px;
        font-size: small;
    
    }
    .button_signIn {
        height: 20px;
        width: 59px;
        padding: 1px;
        font-size: small;
    }

    /* nav */  
    .list_main li button{
        font-size: 14px;
        margin: 3px;
        padding: 3px;
    }
    
    /* Article */
    .article_phrase {
        font-size: 15px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
        margin: 30px;
    }
    .textarea_post {
        height: 300px;
        width: 250px;
    }

    /* left aside */
    .book_catalog {
        height: 250px;
        width: 100%;
        display: flex;
        position: relative;
        margin-top: 20px;
        top: 0px;
        left: 0px;
    }
    
    .container_titleCatalog {
        display: flex;
        place-content: center;
        margin: 8px;
    }
    .title_bookCatalog {
        margin: 0px;
        color: var(--color_string);
    }
    
    .book_card {
        height: 100%;
        width: 640px;
        display: flex;
        flex-direction: column;
        border: 1px solid white;
        
    }
    .book_img {
        height: 90px;
        width: 90px;
        place-self: center;
        margin-top: 15px;
        
    }
    .book_info {
        height: 100%;
        width: 150px;
    }
    .book_title {
        height: 100%;
        display: flex;
        align-items: center;
        color: var(--color_string);
        margin: 12px 12px 2px 12px;
    }
     .book_figure {
        width: 100%;
        height: 100%;
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    } 
    .figure_button {
        height: 35px;
        width: 35px;
        padding: 0px;
        margin-bottom: 20px;
        background: none;
        color: var(--color_string);
        border: none;
        cursor: pointer;
    }
    .book_icon {
        height: 35px;
        width: 35px;
    }

}